Repository CodeSprut/giftseeker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,json,md}": ["prettier --write", "git add"],
  "*.js": ["eslint --fix", "git add"]
}

set max service timer 999 minutes
  src/app/seeker/core.js
Due: prettier --write, eslint --fix

set max service processing pages to 99
  src/app/seeker/core.js
Due: prettier --write, eslint --fix

fixed minutes counting in elapsed time method
  src/electron/web/js/utlis/time.js
Due: prettier --write, eslint --fix

fixed zero blocks replacer into elapsed time method result
  src/electron/web/js/utlis/time.js
Due: prettier --write, eslint --fix

set up jest to working with es6 modules
  .babelrc
  package-lock.json
  package.json
Due: prettier --write

fixed multiple zero blocks replacer into elapsed time
  src/electron/web/js/utlis/time.js
Due: prettier --write, eslint --fix

elapsed time method testcases
  tests/electron/js/utils.test.js
Due: prettier --write, eslint --fix

increase minor version
  package-lock.json
  package.json
Due: prettier --write

update dependencies
  package-lock.json
  package.json
Due: prettier --write

move storage path configuration into config file
  src/app/settings.js
  src/electron/config.js
  src/environment.js
Due: prettier --write, eslint --fix

add appRoot env variable
  src/electron/app.js
  src/electron/config.js
  src/environment.js
Due: prettier --write, eslint --fix

eslint errors fixed
  src/electron/app.js
Due: prettier --write, eslint --fix

tray icon relative code refactored
  src/electron/app.js
Due: prettier --write, eslint --fix

set autostart event handler refactored
  src/electron/app.js
Due: prettier --write, eslint --fix

autostart module refactored
  src/electron/app.js
  src/electron/auto-start.js
Due: prettier --write, eslint --fix

start app method refactored
  src/electron/app.js
Due: prettier --write, eslint --fix

fixed choosing window to focus when determined second app instance
  src/electron/app.js
Due: prettier --write, eslint --fix

electron updated
  package-lock.json
  package.json
  src/electron/app.js
Due: prettier --write, eslint --fix

change opiumpulses mainPage url die prev produce redirects
  src/app/seeker/services/opiumpulses.js
Due: prettier --write, eslint --fix

fixed trayIcon disappering
  src/electron/app.js
Due: prettier --write, eslint --fix

patch version increased
  package.json
Due: prettier --write

unused variable removed
  src/app/seeker/core.js
Due: prettier --write, eslint --fix

add authCheckUrl config into service
  src/app/seeker/core.js
  src/app/seeker/services/opiumpulses.js
Due: prettier --write, eslint --fix

add required node version into readme
  README.md
Due: prettier --write

fixed url used in authCheck service method
  package.json
  src/app/seeker/core.js
Due: prettier --write, eslint --fix

WIP: electron windows refactoring
  src/electron/app.js
  src/electron/session.js
  src/electron/windows.js
Due: prettier --write, eslint --fix

windows module refactoring
  src/electron/app.js
  src/electron/windows.js
Due: prettier --write, eslint --fix

actual autostart setting from registry
  src/electron/app.js
Due: prettier --write, eslint --fix

make services index file
  src/app/seeker/bundle.js
  src/app/seeker/services/index.js
  src/electron/app.js
Due: prettier --write, eslint --fix

update axios dependency
  package-lock.json
  package.json
Due: prettier --write

minor dependencies version updated
  package-lock.json
  package.json
Due: prettier --write

electron dependency updated
  package-lock.json
  package.json
Due: prettier --write

prettier applied to whole project
  src/electron/web/auth.html
  src/electron/web/main.html
Due: none

refactored config structure
  .eslintrc
  src/app/settings.js
  src/electron/config.js
  src/electron/web/js/windows/main.js
  src/electron/windows.js
Due: prettier --write, eslint --fix

builder configuration updated
  build.js
  build/icon.png
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

linter config updated
  .eslintrc
Due: none

unused package removed
  package-lock.json
  package.json
Due: prettier --write

build icon changed
  build.js
  build/icon.png
Due: prettier --write, eslint --fix

readme updated
  README.md
Due: prettier --write
