Repository CodeSprut/giftseeker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,json,md}": ["prettier --write", "git add"],
  "*.js": ["eslint --fix", "git add"]
}

feat: wip services settings base core
  src/cli/commands/services/index.js
  src/cli/commands/services/settings/base-settings.js
  src/cli/commands/services/settings/index.js
  src/cli/commands/services/settings/number-settings.js
Due: prettier --write, eslint --fix

feat: number settings reused for float numbers - wip
  src/cli/commands/services/settings/data-type.enum.js
  src/cli/commands/services/settings/index.js
  src/cli/commands/services/settings/number-settings.js
Due: prettier --write, eslint --fix

feat(cli): completed services number settings commands
  src/cli/commands/services/settings/base-settings.js
  src/cli/commands/services/settings/data-type-validator.js
  src/cli/commands/services/settings/data-type.enum.js
  src/cli/commands/services/settings/index.js
  src/cli/commands/services/settings/number-settings.js
  src/core/services/settings/setting-type.enum.js
Due: prettier --write, eslint --fix

refactor: use services setting types as enum
  src/cli/commands/services/settings/index.js
  src/cli/commands/services/settings/number-settings.js
  src/core/services/base-service.js
  src/core/services/follx.js
  src/core/services/indiegala.js
  src/core/services/opiumpulses.js
  src/core/services/steamgifts.js
Due: prettier --write, eslint --fix

docs: readme.md
  README.md
Due: prettier --write

docs: readme.md headings
  README.md
Due: prettier --write

feat: cookies commands
  src/cli/commands/services/settings/base-settings.js
  src/cli/commands/services/settings/cookie-commands.js
  src/cli/commands/services/settings/index.js
  src/cli/commands/services/settings/number-commands.js
Due: prettier --write, eslint --fix

fix: service stopped respose
  src/core/services/base-service.js
Due: prettier --write, eslint --fix

refactor: auth states moved to enum
  src/core/auth-state.enum.js
  src/core/services/base-service.js
Due: prettier --write, eslint --fix

feat(cli): start command additional feedback
  src/cli/commands/services/service-start.js
Due: prettier --write, eslint --fix

feat: create storage directory before each file reading
  src/modules/json-storage.js
  src/modules/settings.js
  src/modules/translation.js
Due: prettier --write, eslint --fix

feat(cli): service file logger implemented
  src/cli/commands/exit.js
  src/cli/commands/listen.js
  src/cli/service-logger.js
  src/cli/session.js
Due: prettier --write, eslint --fix

fix(cli): run service worker
  src/cli/session.js
Due: prettier --write, eslint --fix

fix(cli): logger
  src/cli/service-logger.js
Due: prettier --write, eslint --fix

fix: linux build; closes #18
  build.js
  src/resources/images/icon.256x256.png
Due: prettier --write, eslint --fix

refactor: app instance lock variable name
  src/electron/main.js
Due: prettier --write, eslint --fix

chore: fix vulnerabilities
  package-lock.json
Due: prettier --write

docs: changed repo naming case
  README.md
  package-lock.json
  package.json
Due: prettier --write

feat: remote module completely refused
  package-lock.json
  package.json
  src/config.js
  src/core/services/base-service.js
  src/electron/auto-start.js
  src/electron/main.js
  src/electron/session.js
  src/electron/web/auth.html
  src/electron/web/js/browser.js
  src/electron/web/js/controls/service-panel.js
  src/electron/web/js/language.js
  src/electron/web/js/services.js
  src/electron/web/js/utlis/time.js
  src/electron/web/js/windows/auth.js
  src/electron/web/js/windows/main.js
  src/electron/web/main.html
  src/electron/web/scripts/browser.js
  src/electron/web/scripts/controls/logger.js
  src/electron/web/scripts/controls/service-control-panel.js
  src/electron/web/scripts/controls/service-icon.js
  src/electron/web/scripts/controls/service-panel.js
  src/electron/web/scripts/language.js
  src/electron/web/scripts/services.js
  src/electron/web/scripts/utlis/__tests__/utils.test.js
  src/electron/web/scripts/utlis/time.js
  src/electron/web/scripts/windows/auth.js
  src/electron/web/scripts/windows/main.js
  src/electron/web/styles/auth.css
  src/electron/web/styles/main.css
  src/electron/windows/browser.js
  src/electron/windows/windows.js
  src/modules/settings.js
  src/modules/translation.js
Due: prettier --write, eslint --fix

chore: chalk dep downgraded because 5+ ver pure esm
  package.json
Due: prettier --write

feat: follx service is no longer active
  README.md
  src/core/services/index.js
Due: prettier --write, eslint --fix

refactor: translations downloading and storage process
  src/modules/json-storage.js
  src/modules/settings.js
  src/modules/translation.js
Due: prettier --write, eslint --fix

chore: boilerplate ignore list
  .gitignore
Due: none

feat: useragent updated
  src/config.js
Due: prettier --write, eslint --fix

fix(steam-auth):enabled embedded browser web security
  src/electron/windows/browser.js
Due: prettier --write, eslint --fix

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: indiegala is functioning now
  package-lock.json
  package.json
  src/core/services/indiegala.js
Due: prettier --write, eslint --fix

chore: bump version
  package-lock.json
  package.json
Due: prettier --write

feat: astats disabled
  src/core/services/index.js
Due: prettier --write, eslint --fix

chore: add linter scripts
  .prettierrc
  package.json
  src/electron/web/scripts/windows/main.js
Due: prettier --write, eslint --fix
