Repository CodeSprut/giftseeker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

magicdrop auth implemented
  src/app/seeker/services/index.js
  src/app/seeker/services/magicdrop.js
  src/electron/web/images/services/MagicDrop.png
Due: prettier --write, eslint --fix

magicdrop free case entry implemented
  src/app/seeker/services/magicdrop.js
Due: prettier --write, eslint --fix

magicdrop correct log message
  src/app/seeker/services/magicdrop.js
Due: prettier --write, eslint --fix

justcase.fun auth implemented
  src/app/seeker/services/index.js
  src/app/seeker/services/justcase.js
  src/app/seeker/services/magicdrop.js
  src/electron/web/images/services/JustCase.png
Due: prettier --write, eslint --fix

pump build version
  package.json
Due: prettier --write

readme.md actualized
  README.md
Due: prettier --write

license actualized
  LICENSE
Due: none

electron updated
  package-lock.json
  package.json
Due: prettier --write

prevent window autohide if tray button clicked before
  .eslintrc
  src/electron/app.js
  src/electron/web/js/windows/main.js
Due: prettier --write, eslint --fix

remove useles escapes
  src/app/seeker/services/justcase.js
Due: prettier --write, eslint --fix

justcase disabled
  src/app/seeker/services/index.js
Due: prettier --write, eslint --fix

restore test needed dependency
  package-lock.json
  package.json
Due: prettier --write

justcase service removed cause recaptcha
  README.md
  src/app/seeker/services/justcase.js
  src/electron/web/images/services/JustCase.png
Due: prettier --write, eslint --fix

fix vulnerabilities
  package-lock.json
Due: prettier --write

ggplayers.com service created
  src/app/seeker/services/ggplayers.js
  src/app/seeker/services/index.js
  src/electron/web/images/services/GGPlayers.png
Due: prettier --write, eslint --fix

ggplayers account info retrieving
  src/app/seeker/services/ggplayers.js
Due: prettier --write, eslint --fix

readme updated
  README.md
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix vulnerabilities
  package-lock.json
Due: prettier --write

Fixed vulnerabilities
  package-lock.json
Due: prettier --write

Dependencies updated
  package-lock.json
  package.json
Due: prettier --write

Removed unused dependencies
  package-lock.json
  package.json
Due: prettier --write

Magic drop url changed
  .babelrc
  README.md
  src/app/seeker/services/magicdrop.js
Due: prettier --write, eslint --fix

Magicdrop service disabled cause captcha required
  src/app/seeker/services/index.js
Due: prettier --write, eslint --fix

Update electron version
  package-lock.json
  package.json
Due: prettier --write

chore: linux platform build detection
  build.js
Due: prettier --write, eslint --fix

fix: vulnerabilities
  .babelrc
  package-lock.json
  package.json
Due: prettier --write

closes #16; fix: translations download
  src/app/language.js
Due: prettier --write, eslint --fix

feat: old services removed
  src/app/seeker/services/ggplayers.js
  src/app/seeker/services/index.js
  src/app/seeker/services/magicdrop.js
  src/electron/web/images/services/GGPlayers.png
  src/electron/web/images/services/MagicDrop.png
Due: prettier --write, eslint --fix

docs: readme services list
  README.md
Due: prettier --write

feat: implemented own json-storage module
  package-lock.json
  package.json
  src/app/json-storage.js
  src/app/language.js
  src/app/settings.js
Due: prettier --write, eslint --fix

chore: ignore coverage report directory
  .gitignore
Due: none

test: no need to electron mock now
  tests/app/seeker/__mocks/settingsMock.js
Due: prettier --write, eslint --fix

chore: npm jest script with coverage report
  package.json
Due: prettier --write

docs: readme
  README.md
Due: prettier --write

test: project structure
  src/app/seeker/services/__tests__/steamgifts.test.js
  src/app/utils/__tests__/clear-html-tags.test.js
  src/electron/web/js/utlis/__tests__/utils.test.js
  tests/__mocks/settings.mock.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  eslint --fix: any of: *.js
