Repository CodeSprut/giftseeker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,json,md}": ["prettier --write", "git add"],
  "*.js": ["eslint --fix", "git add"]
}

eslint standard condestyle used
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

eslint standart required plugins installed
  package-lock.json
  package.json
Due: prettier --write

make eslint jest friendly
  .eslintrc
Due: none

dit add command removed from lint-staged
  .lintstagedrc
Due: none

steamgifts level tests
  tests/app/seeker/services/steamgifts.test.js
Due: prettier --write, eslint --fix

steamgifts minEntryLevel fixed
  src/app/seeker/services/steamgifts.js
Due: prettier --write, eslint --fix

make eslint friendly with prettier
  .eslintrc
  .lintstagedrc
  .prettierrc
  package-lock.json
  package.json
Due: prettier --write

eslint and prettier codestyle applied
  src/app/language.js
  src/app/seeker/core.js
  src/app/seeker/services/indiegala.js
  src/app/seeker/services/steamgifts.js
  src/app/settings.js
  src/app/utils/clear-html-tags.js
  src/electron/web/js/browser.js
  src/electron/web/js/controls/service-panel.js
  src/electron/web/js/controls/setting.js
  src/electron/web/js/services.js
  src/electron/web/js/windows/auth.js
  tests/app/seeker/__mocks/settingsMock.js
  tests/app/seeker/services/steamgifts.test.js
Due: prettier --write, eslint --fix

move winChance calculation to method
  src/app/seeker/services/steamgifts.js
Due: prettier --write, eslint --fix

Steamgifts winning chance calculation tests
  tests/app/seeker/services/steamgifts.test.js
Due: prettier --write, eslint --fix

fixed settings mock of steamgifts
  tests/app/seeker/__mocks/settingsMock.js
Due: prettier --write, eslint --fix

steamgifts entry chance tests
  tests/app/seeker/services/steamgifts.test.js
Due: prettier --write, eslint --fix

steamgifts winning chance entry fixed
  src/app/seeker/services/steamgifts.js
Due: prettier --write, eslint --fix

Steamgifts pass by ending time tests
  tests/app/seeker/services/steamgifts.test.js
Due: prettier --write, eslint --fix

version increased: new service
  package.json
Due: prettier --write

allow insecure https
  src/app/seeker/core.js
Due: prettier --write, eslint --fix

astats service core created
  src/app/seeker/bundle.js
  src/app/seeker/services/astats.js
  src/electron/web/images/services/Astats.png
Due: prettier --write, eslint --fix

seeker core withValue default fixed
  src/app/seeker/core.js
Due: prettier --write, eslint --fix

astats getUserInfo implemented
  src/app/seeker/services/astats.js
Due: prettier --write, eslint --fix

astats pages setting disabled
  src/app/seeker/services/astats.js
Due: prettier --write, eslint --fix

astats giveaways table rows matching
  src/app/seeker/services/astats.js
Due: prettier --write, eslint --fix

astats parse giveaway implemented
  src/app/seeker/services/astats.js
Due: prettier --write, eslint --fix

giveaway parse regExp modified
  src/app/seeker/services/astats.js
Due: prettier --write, eslint --fix

astats giveawayEnter method implemented
  src/app/seeker/services/astats.js
Due: prettier --write, eslint --fix

astats.nl added into readme
  README.md
Due: prettier --write

not needed lines removed
  src/electron/web/css/styles.css
Due: none

rename: user panel -> control panel
  src/electron/web/css/styles.css
  src/electron/web/js/controls/service-control-panel.js
  src/electron/web/js/controls/service-panel.js
  src/electron/web/js/services.js
Due: prettier --write, eslint --fix

fixed translation size comparison
  src/app/language.js
Due: prettier --write, eslint --fix

service-panel redesign
  src/electron/web/css/styles.css
  src/electron/web/js/controls/logger.js
  src/electron/web/js/controls/service-control-panel.js
  src/electron/web/js/controls/service-panel.js
Due: prettier --write, eslint --fix

restore clear log button
  src/electron/web/css/styles.css
  src/electron/web/js/controls/logger.js
Due: prettier --write, eslint --fix

service panel styles
  src/electron/web/css/styles.css
Due: none

clear lot position fixed
  src/electron/web/css/styles.css
Due: none

add service loaded log message
  src/app/seeker/core.js
Due: prettier --write, eslint --fix

seeker button restyle
  src/electron/web/css/styles.css
Due: none

disabled seeker button style
  src/electron/web/css/styles.css
Due: none

service control panel flexbox
  src/electron/web/css/styles.css
  src/electron/web/js/controls/service-control-panel.js
Due: prettier --write, eslint --fix

add tooltip on service icon
  src/electron/web/js/controls/service-icon.js
Due: prettier --write, eslint --fix

version increased
  package.json
Due: prettier --write

add delimeter between username and points
  src/electron/web/js/controls/service-control-panel.js
Due: prettier --write, eslint --fix

styles: window control buttons
  src/electron/web/css/auth.css
  src/electron/web/css/styles.css
Due: none
